/* Fonts */
@font-face {
	font-style: normal;
	font-weight: 200;
	src: url("/fonts/Roboto-Regular.ttf") format("truetype");
	font-family: "Roboto";
}

:root {
	--gunmetal: #16252bff;
	--gunmetal-2: #132329ff;
	--outer-space: #475a5eff;
	--paynes-gray: #516568ff;
	--silver: #b1b7b9ff;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--gunmetal-2);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--outer-space);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--gunmetal);
}

a,
button {
	cursor: pointer;
}

a {
	transition: color 0.1s ease-in-out;
	color: rgba(177, 183, 185, 0.897);
}

a:hover {
	color: var(--paynes-gray);
}

body {
	margin: 0px;
	background-image: linear-gradient(
		315deg,
		var(--paynes-gray) 0%,
		var(--gunmetal-2) 99%
	);
	background-color: var(--paynes-gray);
	height: 100vh;
	color: var(--silver);
	font-family: "Roboto", sans-serif;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 85%;
}

dialog {
	position: fixed;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	border: solid 1px var(--paynes-gray);
	border-radius: 1em;
	background-color: var(--gunmetal);
	width: 50vw;
	height: 50vh;
	color: var(--silver);
}

dialog[open] {
	animation: myFadeIn 0.5s ease-in-out normal;
}

dialog .close-button {
	display: flex;
	position: absolute;
	right: 2em;
	justify-content: flex-end;
}

dialog .close-button button {
	position: absolute;
	transition: all ease-in-out 0.3s;
	border: none;
	border: 1px solid var(--paynes-gray);
	border-radius: 50%;
	background-color: var(--gunmetal-2);
	width: 30px;
	height: 30px;
	color: var(--paynes-gray);
}

dialog .close-button button:hover {
	background-color: var(--paynes-gray);
	color: var(--gunmetal);
}

dialog .dialog-content {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex {
	display: flex;
}

.fully-centered {
	justify-content: center;
	align-items: center;
}

.title-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	border: solid 1px var(--silver);
	border-radius: 50%;
	width: 8em;
	height: 8em;
}

.title-icon svg {
	width: 7em;
	height: 7em;
}

.title {
	width: 100%;
}

.title h1 {
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
}

.title-line {
	display: flex;
	justify-content: center;
	height: 3em;
}

.title-line span:first-child {
	border-right: 1px solid var(--silver);
}

.title > hr {
	border-color: var(--silver);
	border-top: none;
	border-right: none;
	border-left: none;
	height: 0.5px;
}

.title > hr:first-of-type {
	margin-top: 0;
}

.title > hr:last-of-type {
	margin-bottom: 0px;
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.links button {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	border: solid 0.5px var(--silver);
	background-color: transparent;
	padding: 1em;
	width: 7.1em;
	color: var(--silver);
}

@keyframes myFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media only screen and (max-width: 600px) {
	main {
		padding: 0px;
	}

	dialog {
		width: 90vw;
		height: 90vh;
	}

	dialog .close-button {
		position: fixed;
		right: 5vw;
	}

	dialog .close-button button {
		width: 40px;
		height: 40px;
		font-size: 25px;
	}
}

@media only screen and (min-width: 1200px) {
	main {
		margin: 2em auto;
		max-width: 80em;
	}
}
